aiohttp==3.11.14
aiortc==1.10.1
attrs==25.3.0
beautifulsoup4==4.13.3
bottle==0.13.2
certifi==2025.1.31
click==8.1.8
cryptography==44.0.2
google-api-core==2.24.2
google-cloud-firestore==2.20.1
greenlet==3.1.1
grpcio==1.71.0
httpx==0.28.1
Jinja2==3.1.6
jsonschema==4.23.0
markdown-it-py==3.0.0
numpy==2.2.4
pandas==2.2.3
pillow==11.1.0
protobuf==5.29.4
pydantic==2.10.6
bcrypt==4.3.0
requests==2.32.3
streamlit==1.43.2
tornado==6.4.2
